html,body,#app{
    min-width: 1080px;
    min-height: 600px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0%;
}
body .el-table th.gutter {
    display: table-cell !important
}
/* 选中文本背景颜色 */
::selection {
    background: #e6e6e6;
    color: black;
  }
  /* ScrollBar */
  /* ::-webkit-scrollbar {
    width: 0px;
  } */


.el-breadcrumb{
    margin-bottom: 15px;
}
.el-card{
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}
.el-pagination{
    margin-top: 15px;
}
.el-row{
    margin-bottom: 15px;
}

.bdtop{
    border-top: 1px solid #eee;
}

.bdbottom{
    border-bottom: 1px solid #eee;
}
.el-rowbot{
    margin-bottom: 0px !important;
}
.vcenter{
    display: flex;
    align-items: center;
}